<!--PADRE-->
<template>
    <div>
        <button @click="handleClick(0, '')">Click</button>
        <UserItem @Adios="clicked($event)"
        @sayHi="handleClick(0, '')"
        v-for="(user, index) in Users" 
        :key="user.id" 
        v-bind="user"
        :id="index"
        ></UserItem>
    </div>
</template>
<script  lang="ts" setup>
import UserItem from './UserItem.vue'
import Users from '@/data/UserData'

const handleClick = (id: number, change: string) => {
  console.log(id, change)
}

const clicked = (event: any) => {
    alert("Funcioné "+ event)
}
const clicked2 = (event:any) => {
  alert(event);
}
</script>

<style scoped></style> 