<!--HIJO-->
<template>
    <div class="card">
        <h2>#{{ props.id }} {{ name }} | {{ props.lastname }}</h2>
        <h3> Email: <span>{{ props.email }}</span></h3>
        <h4>Age: <span>{{ props.age }}</span></h4>
        <button @click="handleClick">Alert</button>
        <input type="text" v-model="change">
        <button :disabled="validationChange" @click="clicked()">Click me</button>
        <input type="text" v-model.trim="change">
    </div>
</template>

<script  lang="ts" setup>
import  {ref, computed } from 'vue'
import type { IUserInfo } from '@/interfaces/IUserInfo';

const props = defineProps<IUserInfo>();
const emits = defineEmits(["SayHi", "Adios"])
const name = ref(props.name)
const change = ref<string>("")

const clicked = () => {
    emits('SayHi', [props.id, change.value])
    emits('Adios',props.id)
}

const handleClick = () => {
  emits('Adios', props.id, change.value)
}

const validationChange = computed(() => change.value.length <= 0)

</script>


<style scoped>
.card {
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    width: 350px;
    height: 200px;
}
</style> 